.main-content {
  background-color: var(--white);
  height: calc(100vh - 55px);
}

.container {
  margin: 50px auto 0;
  width: 70%;
  height: 80%;

  & h2 {
    font-size: 2.3rem;
    text-align: center;

    padding-bottom: 5px;
    border-radius: 5px;
    background-color: var(--gallery);
  }
}

/* styling for add task button belong to container */
.add-task {
  padding: 8px;
  font-size: 1.1rem;
  font-weight: 800;
  text-align: center;

  border-radius: 5px;
  background-color: var(--gallery);
  cursor: pointer;

  &:hover {
    filter: brightness(95%);
  }

  & i {
    font-weight: 900;
    margin-right: 5px;
  }
}

/* styling for task container */
.task-container {
  margin: 10px 0;
  padding: 20px;
  border-radius: 5px;
  background-color: var(--gallery);

  max-height: 80%;
  display: grid;
  gap: 10px;
  grid-template-rows: auto;

  overflow: auto;
}

/* styling for each task item */
.task-item {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;

  border-radius: 5px;
  border: 2px solid var(--white);
  background-color: var(--white);

  /* apply for all button belong to task item */
  .btn {
    border: none;
    background-color: var(--white);
    cursor: pointer;
  }

  &:hover .rightPart .btn {
    visibility: visible;
  }
}

/* styling for left part */
.task-item .leftPart {
  display: flex;
  gap: 8px;
  align-items: start;

  & span {
    font-size: 1.2rem;
    font-weight: 600;
  }

  & i {
    font-size: 1.6rem;
  }
}

/* styling for right part */
.task-item .rightPart {
  display: flex;
  align-items: center;
  gap: 10px;

  .task-date {
    margin-right: 10px;
    font-size: 1rem;
    font-weight: 600;
  }

  .btn {
    visibility: hidden;

    & i {
      font-size: 1.3rem;
    }
  }
}

/* change color based on class name */
.task-item {
  &.low-priority {
    color: var(--la-palma);

    .leftPart i,
    .rightPart i {
      color: var(--la-palma);
    }

    &:hover {
      border: 2px solid var(--la-palma);
    }
  }

  &.medium-priority {
    color: var(--yellow-sea);

    .leftPart i,
    .rightPart i {
      color: var(--yellow-sea);
    }

    &:hover {
      border: 2px solid var(--yellow-sea);
    }
  }

  &.high-priority {
    color: var(--alizarin-crimson);

    .leftPart i,
    .rightPart i {
      color: var(--alizarin-crimson);
    }

    &:hover {
      border: 2px solid var(--alizarin-crimson);
    }
  }
}
