html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px;
}

:root {
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;

  --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --yellow-sea: rgb(255, 176, 0);

  /* color for radio button */
  --white: rgb(255, 255, 255);
  --sun-glow: rgb(255, 196, 54);
  --alizarin-crimson: rgb(237, 28, 28);
  --la-palma: rgb(45, 148, 11);

  /* multiple purposes color */
  --tall-poppy: rgb(187, 37, 37);
  --solar-eclipse: rgb(173, 47, 38);
  --cinnabar: #e64848;
  --gallery: rgb(239, 239, 239);
}

body {
  font-family: var(--font-family);
  display: grid;
  grid-template-rows: minmax(55px, 6.7%) 1fr;
  grid-template-columns: max(300px) 1fr;
  height: 100vh;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--gallery);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--cinnabar);
}
