dialog {
  width: 50%;

  /* cannot apply display directly to the dialog 
  because it will cause some problem like displaying itself even though it not suppose to */

  padding: 30px 30px 0px 20px;
  margin: 8rem auto 0;
  box-shadow: var(--box-shadow);
  border: none;
  border-radius: 20px 0px 0px 20px;
  border-left: 20px solid var(--yellow-sea);

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(8px); /* for safari */
    backdrop-filter: blur(8px);
  }
}

form {
  display: flex;
  flex-direction: column;

  font-size: 1.2rem;
  font-weight: 600;
  color: var(--solar-eclipse);

  & input {
    border: none;
    font-size: 1.1rem;
    color: var(--solar-eclipse);
  }

  .task-title {
    margin-bottom: 10px;

    & input {
      width: 100%;
    }
  }

  .task-description {
    height: 15vh;

    & input {
      width: 100%;
      height: 100%;
    }
  }

  .task-dueDate {
    margin-top: 30px;
  }

  .task-priority {
    margin-top: 10px;

    & input {
      position: relative;
      left: 2rem;
      width: 0px;
      height: 1rem;
      opacity: 0;
    }
  }
}

label.priority {
  background-color: var(--white);
  padding: 3px 8px;
  margin-right: 30px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 600;

  &.low {
    margin-left: 10px;
    border: 2px solid var(--la-palma);
    color: var(--la-palma);
  }

  &.medium {
    border: 2px solid var(--sun-glow);
    color: var(--sun-glow);
  }

  &.high {
    border: 2px solid var(--alizarin-crimson);
    color: var(--alizarin-crimson);
  }
}

.task-priority input:checked + label {
  &.low {
    border: 2px solid var(--la-palma);
    background-color: var(--la-palma);
    color: var(--white);
  }

  &.medium {
    border: 2px solid var(--sun-glow);
    background-color: var(--sun-glow);
    color: var(--white);
  }

  &.high {
    border: 2px solid var(--alizarin-crimson);
    background-color: var(--alizarin-crimson);
    color: var(--white);
  }
}

.below {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;

  & button {
    font-size: 0.8rem;
    font-weight: 800;
    padding: 3px 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  .add,
  .save {
    color: var(--la-palma);
    background-color: var(--white);
    border: 2px solid var(--la-palma);

    &:hover {
      color: var(--white);
      background-color: var(--la-palma);
      border: 2px solid var(--la-palma);
    }
  }

  .cancel {
    color: var(--cinnabar);
    background-color: var(--white);
    border: 2px solid var(--cinnabar);

    &:hover {
      color: var(--white);
      background-color: var(--cinnabar);
      border: 2px solid var(--cinnabar);
    }
  }
}
