dialog.modal {
  width: 50%;

  /* cannot apply display directly to the dialog 
  because it will cause some problem like displaying itself even though it not suppose to */

  padding: 30px 30px 0px 20px;
  margin: 8rem auto 0;
  box-shadow: var(--box-shadow);
  border: none;
  border-radius: 20px 0px 0px 20px;
  border-left: 20px solid var(--yellow-sea);

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(8px); /* for safari */
    backdrop-filter: blur(8px);
  }
}

form#task-info {
  display: flex;
  flex-direction: column;

  font-size: 1.2rem;
  font-weight: 600;
  color: var(--solar-eclipse);

  & input,
  textarea {
    border: none;
    font-size: 1.1rem;
    color: var(--solar-eclipse);
  }

  & input:focus,
  textarea:focus {
    outline: none;
  }

  .task-title {
    margin-bottom: 10px;

    & input {
      width: 100%;
    }
  }

  .task-description {
    height: 15vh;

    & textarea {
      resize: none;
      width: 100%;
      height: 100%;
    }
  }

  .task-dueDate {
    margin-top: 10px;
  }

  .task-priority {
    margin-top: 10px;

    & input {
      position: relative;
      left: 2rem;
      width: 0px;
      height: 1rem;
      opacity: 0;
    }
  }
}

label.priority {
  background-color: var(--white);
  padding: 3px 8px;
  margin-right: 30px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 600;

  &.low {
    margin-left: 15px;
    border: 2px solid var(--la-palma);
    color: var(--la-palma);
  }

  &.medium {
    border: 2px solid var(--sun-glow);
    color: var(--sun-glow);
  }

  &.high {
    border: 2px solid var(--alizarin-crimson);
    color: var(--alizarin-crimson);
  }
}

.task-priority input:checked + label {
  &.low {
    border: 2px solid var(--la-palma);
    background-color: var(--la-palma);
    color: var(--white);
  }

  &.medium {
    border: 2px solid var(--sun-glow);
    background-color: var(--sun-glow);
    color: var(--white);
  }

  &.high {
    border: 2px solid var(--alizarin-crimson);
    background-color: var(--alizarin-crimson);
    color: var(--white);
  }
}

.below {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;

  & button {
    font-size: 0.8rem;
    font-weight: 800;
    padding: 3px 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  .add,
  .save {
    color: var(--la-palma);
    background-color: var(--white);
    border: 2px solid var(--la-palma);

    &:hover {
      color: var(--white);
      background-color: var(--la-palma);
      border: 2px solid var(--la-palma);
    }
  }

  .cancel {
    color: var(--cinnabar);
    background-color: var(--white);
    border: 2px solid var(--cinnabar);

    &:hover {
      color: var(--white);
      background-color: var(--cinnabar);
      border: 2px solid var(--cinnabar);
    }
  }
}

/*  */
/*  */
/* Styling for task info modal */

dialog.task-info-modal {
  width: 40%;
  margin: 10% auto 0;
  padding: 20px;
  box-shadow: var(--box-shadow);
  border: none;
  position: relative;

  background-color: var(--wisp-pink);
  color: var(--blue-violet);

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(8px); /* for safari */
    backdrop-filter: blur(8px);
  }

  & p {
    height: 30vh;
    padding: 10px;
    overflow: auto;
    border: 2px solid var(--blue-violet);
    border-radius: 5px;
  }
}

.task-info-modal .title-part {
  display: flex;
  gap: 10px;
  word-break: break-word;
  border-bottom: 2px solid #6554af;

  font-size: 1.3rem;
  font-weight: 700;

  .priority-area {
    &.low-level {
      color: var(--la-palma);
    }

    &.medium-level {
      color: var(--sun-glow);
    }

    &.high-level {
      color: var(--alizarin-crimson);
    }
  }

  & button {
    position: absolute;
    top: 0px;
    right: 0px;

    border: none;
    cursor: pointer;
    background-color: var(--wisp-pink);
    font-size: 1.8rem;
    outline: none;

    & i {
      color: var(--blue-violet);
    }
  }
}

.task-info-modal .info-part {
  margin: 10px 0;
  display: flex;
  gap: 20%;
  font-size: 1rem;
  font-weight: 700;

  .time-part,
  .folder-part {
    display: flex;
    gap: 5px;
    align-items: center;
  }

  .bx {
    font-size: 1.5rem;
    font-weight: 800;
  }
}
