.site-bar {
  background-color: var(--sage-dark);
  color: var(--peach-2);

  padding: 20px;
  overflow: auto;
}

h2 {
  font-size: 2rem;
  padding: 2px 0 5px;
  border-bottom: 2px solid var(--peach);
}

.project-container {
  margin: 20px 0;
}

.add-new-project {
  background-color: var(--green);
  color: var(--peach-2);
  font-size: 1.5rem;

  border: none;
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer;

  &:hover {
    filter: brightness(120%);
  }
}

.add-project-popup {
  margin-top: 40px;
  padding: 0 5px;

  & input {
    border: 1px solid var(--sage-light);
    border-radius: 5px;

    padding: 5px 10px;
    margin-bottom: 15px;
    width: 100%;

    color: var(--sage-dark);
    font-size: 1.2rem;
  }

  .btn-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15%;

    & button {
      font-size: 1.1rem;
      font-weight: 800;
      padding: 10px;

      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .add-project {
      background-color: var(--sage-light);

      &:hover {
        filter: brightness(120%);
      }
    }

    .cancel {
      background-color: var(--peach);

      &:hover {
        filter: brightness(120%);
      }
    }
  }
}

.project-item {
  width: 100%;
  padding: 10px 5px;
  font-size: 1.3rem;
  border: none;
  background-color: var(--sage-dark);
  color: var(--yellow);

  display: flex;
  justify-content: space-between;
  cursor: pointer;

  &:hover {
    background-color: var(--peach-hover);
  }

  .left-panel {
    width: 70%;
    display: flex;
    align-items: end;
    gap: 5px;

    & span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
