.site-bar {
  background-color: var(--gallery);
  color: var(--tall-poppy);
  padding: 20px;
  overflow: auto;

  & h2 {
    font-size: 1.5rem;
    padding: 2px 0 5px;
    margin-bottom: 5px;
  }
}

.project-container {
  border-top: 1px solid var(--cinnabar);
  border-bottom: 1px solid var(--cinnabar);
  padding: 15px 0;
}

.add-new-project {
  background-color: var(--white);
  color: var(--cinnabar);
  font-size: 1rem;
  font-weight: 900;

  width: 100%;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px 0px;
  cursor: pointer;

  &:hover {
    filter: brightness(90%);
  }
}

.add-project-popup {
  margin-top: 20px;
  padding: 0 5px;

  & input {
    border: 2px solid var(--cinnabar);
    border-radius: 5px;

    padding: 5px 10px;
    margin-bottom: 15px;
    width: 100%;

    color: var(--solar-eclipse);
    font-size: 1rem;
  }

  .btn-group {
    display: grid;
    grid-template-columns: repeat(2, 35%);
    gap: 20%;
    justify-content: center;

    & button {
      font-size: 1rem;
      font-weight: 800;
      padding: 10px;

      border-radius: 5px;
      cursor: pointer;
    }

    .add-project {
      color: var(--la-palma);
      background-color: var(--white);
      border: 2px solid var(--la-palma);

      &:hover {
        color: var(--white);
        background-color: var(--la-palma);
        border: 2px solid var(--la-palma);
      }
    }

    .cancel {
      color: var(--cinnabar);
      background-color: var(--white);
      border: 2px solid var(--cinnabar);

      &:hover {
        color: var(--white);
        background-color: var(--cinnabar);
        border: 2px solid var(--cinnabar);
      }
    }
  }
}

.project-container {
  display: grid;
  gap: 10px;
}

.project-item {
  width: 100%;
  padding: 10px 5px;
  font-size: 1.2rem;
  font-weight: 500;

  border: 1px solid transparent;
  border-radius: 5px;
  background-color: var(--white);
  color: var(--solar-eclipse);

  display: flex;
  justify-content: space-between;
  cursor: pointer;

  &:hover {
    border-color: var(--solar-eclipse);
  }

  .left-panel {
    width: 70%;
    display: flex;
    align-items: end;
    gap: 5px;

    & span {
      text-align: left;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .right-panel {
    visibility: hidden;
  }

  &:hover .right-panel {
    visibility: visible;
  }
}
